<div class="cover-micropost span12">
  <div class="cover-head-wrapper">
    <div class="cover-title">
      <h3 class="cover-microposts-title">
        <%= @micropost.title %>
      </h3>
      <%== @video_iframe %>
    </div>
  </div>
</div>
