<div class="container">
  <div class="header">
    <div class="pull-left">
      <h5>这里是冰与火之歌爱好者的聚集地</h5>
      <h5>欢迎你的<%= link_to "加入", login_url %></h5>
    </div>
    <div class="right">
      <h3 class="cover-title"> 铁王座</h3>
      <div class="author-info">
        <a href="" target="_blank">Build by 徐世成</a>
      </div>
    </div>
  </div>
</div>
